body{
	font-family: Arial;
	font-size: 10pt;
	margin: 0px;
	padding: none;
	border: none;
}

h1{
	font-size: 18pt;
	margin-top: 20px;
	margin-left: 0px;
	letter-spacing: 2px;
}

h2{
	font-size: 14pt;
	color: black;
	margin-top: 50px;
	margin-left: 0px;
	letter-spacing: 2px;
}

table{
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
	border-radius: 20px;
	border-bottom: 3px solid black;
	border-collapse: collapse;
	width: 100%;
/*
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
*/
}

iframe{
	width: 100%;
	height: 100%;
	border: none;
	padding: 0px;
}

caption{
	font-size: 10pt;
	padding: 7pt;
	text-decoration: none;
	text-shadow: 0px;
	background: #fff;
}

th{
	font-size: 12pt;
	background: #8fadcc;
	color: black;
	vertical-align: middle;
	padding: 10px;
	border-bottom: 3px solid #336;
	border-right: 1px solid #336;
}

td{
	font-size: 10pt;
	vertical-align:top;
	padding: 10px;
	border-right: 1px solid #336;
	border-bottom: 1px solid #999;
	background: #E5EEEE;
	line-height: 2em;
}

img{
	border: 0px;
}

td.center{
	text-align:center;
}

.description{
	color: black;
	margin-top: 6px;
	margin-left: 5px;
	margin-bottom: 2em;
	line-height: 1.5em;
	letter-spacing: 1px;
}

.returnTop{
	text-align: right;
}

.testNumber{
	color: purple;
	white-space: nowrap;
	line-height: 1.5em;
}

.testType{
	color: red;
	white-space: nowrap;
	line-height: 1.5em;
}

.testCase{
	color: black;
	line-height: 1.5em;
	margin-bottom: 0.5em;
}

.keyword{
	color: green;
	white-space: nowrap;
	line-height: 1.5em;
}

.cu{
	color: black;
	margin-top: 6px;
	margin-left: 5px;
	letter-spacing: 1px;
}

.lv1{
	font-size: 16pt;
	margin-left: 1em;
}

.lv2{
	font-size: 12pt;
	margin-left: 2em;
}

.lv3{
	font-size: 11pt;
	margin-left: 3em;
}

.lv4{
	font-size: 10pt;
	margin-left: 4em;
}

.lv5{
	font-size: 10pt;
	margin-left: 5em;
}

#header{
	height: 97px;
	background-color: rgb(0, 101, 179);
	padding: 0px;
	border-bottom: 2px black solid;
}

#heading{
	font-size: 30pt;
	color: white;
	position: absolute;
	left: 400px;
	top: 10px;
}

#subHeading{ 
	font-size: 12pt;
}

#topnav{
	height: 30px;
	background-color: #bcf;
	padding: 5px;
	text-align: center;
	border-bottom: 2px black solid;
}

#floattopnav{
	position: absolute;
	right: 0px;
	background-color: #bcf;
	margin: 0.5em;
	padding: 10px;
	z-index: 2;
}

#nav{
	float: left;
	width: 25%;
	height: 700px;
	background-color: #eee;
	padding: 0px;
	border: 0px;
}

#navcontent{
	background-color: #eee;
	padding: 5px;
}

#content{
	float: right;
	width: 74%;
	height: 700px;
	background-color: #fff;
	padding: 5px;
	border: 0px;
}

#footer{
	clear: both;
	height: 75px;
	background-color: #ccc;
	padding: 5px;
}

#footerLeftSpace{
	text-align: left;
	top: 0px;
	height: 75px;
	width: 400px;
	float: left;
	right: 0px;
}
#footerRightSpace{
	top: 0px;
	height: 75px;
	width: 400px;
	float: right;
	right: 0px;
	text-align: right;
}